.page-link{
    color: #b10018 !important;
}
.page-link{
    border: 1px solid #b1001849 !important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color:#b10018 !important;
}