.cart_qty_btn{
border: 1px solid #ced4da;
border-radius: .25rem;
text-align: center;
margin: 10px;
width: 50px;
height: 35px;
line-height: 2em;
}
.cart_qty_btn:hover{
	background-color: #b10018;
	color: #fff;
}
.button_container{
	display: flex;
	align-items: center;
}
