.Txt {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: #23211f;
    margin-bottom: 5px;
}
.nameCard {
    text-transform: uppercase;
    color: #23211f;
    margin-bottom: 5px;
}
.progress{
    height: 8px !important;
}
.progress_bar{
 background-color: #b10018;
 height: 20px !important;
}



.TitleRate {
    font-size: 19px;
    font-size: 1.357rem;
    line-height: 1.158;
    color: #5a5a5a;
    letter-spacing: -.4px;
    margin-bottom: 20px;
    display: block;
}
.comments_summary {
    font-size: 15px;
    font-size: 1.071rem;
    line-height: 2.27;
    margin-bottom: 35px;
    color: #676767;
}

.slide:hover,
.slide:focus {
  box-shadow: inset 11.8em 0 0 0 var(--hover);
}


.slide {
  --color: #b10018;
  --hover: #b10018;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}