.price {
    float: left;
    color: #FF3100;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    margin-top: 4px;
  }