.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #b10018;
    border-top: 2px solid #b10018;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 2px solid #b10018;
    width: 20px;
    line-height: 3em;
}

@media screen and (max-width:1500px){
    .displaycart{
        display: contents;
    }
}