.CardsSec{
    float: none;
    margin: 20px;
}
body{
    overflow-x: unset;
}
.AddSec{
    width: 25%;
}
.box {
    width:100%;
    background-color:#000;
    position:relative;
}
.box-1 {
    width:75%;
    min-height: 85em;
    background-color:#fff;
    height:100%;
    border-radius:0px 40px 0px 0px;
    border-top:5px solid #b10018;
    border-right:5px solid #b10018;
}
.box-2 {
    display: block;
    position:absolute;
    background-color:#fff;
    height:100%;
    width:25%;
    right:0;
    top:0;
    border-radius:40px 0px 0px 0px;
    border-top:5px solid #b10018;
    border-left:5px solid #b10018;
}
@media screen and (max-width:550px){

    .box-1 , .box-2{
        display: contents;
    }
    .box {
        background-color:#fff;
    }
}