  .toggles {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    clear: both;
    overflow: hidden;
    text-align: center;
  }
  
  .btnCategory {
    border: 2px solid #e3e3e3;
    border-radius: 40px;
    background-color: #a30016;
    color:white;
    display: inline-block;
    padding: 10px;
    width: 150px;
    overflow: visible;
    margin: 5px 2px !important;
    border: 1px solid transparent
  }
  
  .btnCategory:hover {
    color: #FFF;
    background-color: #4e020c;
    border: 1px solid black;
  }
  
  .covers {
    display: flex;
    flex-wrap: wrap;
    /* Creates rows */
    margin-left: 5%;
    margin-right: 5%;
  }
  .covers div {
    margin: 2%;
  }
  .covers img {
    border: 1px solid #ddd;
    /*Gray border */
    border-radius: 4px;
    /*Rounded border */
    padding: 5px;
    width: 150px;
  }
  .covers #audio {
    width: 160px;
  }
  