.btnBuy{
    margin-top: 50px;
    color: #fff !important;
    height: 40px;
    font-weight: bold !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
    font-size: .81rem;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    border-radius: 5em !important;
    display: block !important;
    line-height: 35px;
    text-decoration: none;
  }