.shopcard {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
  padding: 25px;
  margin: 2em;
  text-align: center;
  z-index: 2;
  margin: auto;
  margin-bottom: 3em !important;
  }
  .shopcard .cta {
    padding: 20px 20px 5px;
  }
  .shopcard .cta::after {
    content: '';
    display: table;
    clear: both;
  }

 .shopcard :after {
    box-sizing: border-box;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
  }
 .shopcard :hover:after {
    transition: 0.1s transform linear 0.1s, 0.1s height linear 0.3s;
    transform: translateX(0);
    height: 100%;
    border-color: red;
  }
