.slide:hover,
.slide:focus {
  background-color: #b10018;
}


.slide {
  --color: #b10018;
  --hover: #b10018;
}

.slide {
  width: 60%;
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  position: absolute;
  left: 20%;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}