.Specifications {
    display: block ruby;
    min-height: 500px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    z-index: 2;
    padding-bottom: 6em;
}
.table_container {
      -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
      box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
}
.table_container:after {
      z-index: -1; 
      position: absolute; 
      content: "";
      bottom: 10px;
      right: 4px;
      width: 100%; 
      top: 80%; 

      transform: rotate(2deg);    
    }
.specifications_table {
    width: 100%;
  margin-left: -5px;
  margin-right: -5px;
  padding:0;
}

table {
    border-collapse: separate;
    border-spacing: 6px;
    border: none;  
}
table th, table td {
    text-align: left;
    vertical-align: top;
}
table th {
    padding: 2px 20px;
    background-color: #b10018;
    color: #fff;
    border: none;
    font-weight:400 !important;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}
table td {
    padding: 3px 20px;
    border: none;
}
.last {
  padding-bottom: 10px;
}
table tr.even {
    background-color: #ffffff;
}
table tr.odd {
    background-color: #eee;
}
table .headline {
    font-weight: 300;
}
table span.headline {
    color: #000;
    font-weight: 400!important;
}
.colgroup.coltwo .column {
width: 78%;
}
.colgroup .column+.column {
margin: 0;
margin-left: 4%;
}
.colgroup .column {
float: left;
}
