.iconCon{
    position: relative;
    display: block;
    text-align: center;
    display: block;
}
.icon{
    margin-top: 1em !important;
    width: 70%;
    background: #a5041d;
    color: white;
    cursor: pointer;
    height: 250px;
    margin: auto;
    display: block;
    position: relative;
    border: 2px solid rgba(255, 0, 0, 0.062);
    border-radius: 10px 10px 10px 10px;
    text-shadow: 2px 2px 2px black;

}
.iconcircle{
    font-size: 4em;
    border-radius:50%;
    padding-top: 18px;;
    width: 100px;
    height: 100px;
    background:rgba(255, 255, 255, 0.431)
}
.icon:hover{
    background: rgb(68, 6, 6);
    transition: all 1s;
}