  .navbar {
    background-color:#000;
  }
  nav {
    height:100px;
    line-height: 50px;
  }
  .navbar-nav {
    margin:auto;
    flex-direction: initial !important;
  }
  .nav-link {
    margin:10px 25px;
    color:#fff;
  }
  .nav-link:hover {
    color:#b10018;
  }
  .btnlogo{
    color: #fff !important;
    height: 40px;
    font-weight: bold !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
    padding: .84rem 2.14rem !important;
    font-size: .81rem;
    margin-left: 0.5rem;
    border-radius: 5em !important;
    display: initial !important;
  }
  .navbar-toggler-icon{
    width: 42px !important;
  }
  .burgericon{
    width: 40px;
    height: 3px;
    background-color:white;
  }

  @media screen and (max-width:991px){
    nav {
      height:auto;
      line-height: 50px;
    }
    .navbar-collapse{
      display: ruby;
    }
    .navbar-nav{
      display: table-caption !important
    }
    .btn-group{
      margin-top: 4em;
    }
  }
  