.cardDetail {
    min-height: 500px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    z-index: 2;
}