.f1-color{
    background-color:#000;
    color: white;
    z-index: 99;
    position: relative;
}
.footer-copyright{
    background-color :#161c27 !important;
}
.footer-copyright a {
    color: rgb(141, 1, 1)
}
.btnsignup{
    color: #fff !important;
    height: 40px;
    background-color: transparent !important;
    border: 2px solid #fff !important;
    padding: .84rem 2.14rem !important;
    font-size: .81rem;
    margin-left: 0.5rem;
    border-radius: 10em !important;
    display: initial !important;
}
.btnsignup:hover {
    border: 2px solid rgb(244,0, 0) !important;
    color: rgb(224, 0, 0) !important;
    transform: all 1s;
}