  .searchbox{
    margin: 50px;
    display: block;
    text-align: center;
  }
  
  .searchbox .inputsearch{
    height: 10px;
    border: none;
    border-bottom: 2px solid #DDD;
    border-radius: 25px;
    padding: 20px 35px;
    width: 500px;
    font-size: 1em;
    color: #b10018;
    border: 2px solid #b10018!important;
  }
  
  .searchbtn, .inputsearch{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
  }
  
  .searchbox .inputsearch:focus{
    width: 800px;
      outline: 0;
  }

  @media screen and (max-width:1100px){
    .searchbox .inputsearch:focus{
      width: 95%;
      outline: 0;
    }
  }
  @media screen and (max-width:800px){
    .searchbox .inputsearch{
      width: 80%;
    }
    .searchbox .inputsearch:focus{
      width: 95%;
    }
  }