.formLogin {
    padding: 40px;
    width: 70%;
    min-height: 27em;
    margin: auto;
    border: 2px solid rgba(255, 0, 0, 0.062);
}
.btnprimary{
    background-color:#a5041d;
    color: white;
}
input:focus{
    box-shadow: 1px 1px 1px 1px rgb(226, 134, 134) !important ;
    border:  2px solid rgb(226, 134, 134) !important;

}
input:valid {
    border: 2px solid rgba(42, 155, 42, 0.541) !important
  }
  input:invalid{
    border: 2px solid rgb(112, 46, 46)
  }