 figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    outline: none !important;
  }
figure img {
    margin: -95px 0 -60px;
    width: 20em;
    height: 20em;
    object-fit: contain;
  }