ul {
    list-style: none;
    padding: 5px 0 0;
} 
.c-comments__user_shopping > li {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 15px -10px;
        margin-top: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cell {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    width: auto;
}
.cell_name {
    font-size: 16px;
    font-size: 1.143rem;
    line-height: 1.375;
    font-weight: 700;
    margin-bottom: 8px;
}